/* Scss Document *Ibrahim Najib */
/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
@import url("icomoon.css");
/* VAR */
body {
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}

.cover {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.v-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.w100 {
  width: 100%;
  height: auto;
}

a {
  transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
}

.main-btn {
  position: relative;
  display: inline-block;
  padding: 5px 20px;
  -webkit-clip-path: polygon(90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0);
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0);
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 30px;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  padding-top: 10px;
  padding-bottom: 10px;
}

header .v-center {
  flex-wrap: nowrap;
}

header .logo {
  display: block;
  max-width: 220px;
  width: 100%;
  height: auto;
}

header .mainMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

header .mainMenu ul li {
  display: inline-block;
}

header .mainMenu ul li a {
  color: #515048;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: 5px 20px;
  -webkit-clip-path: polygon(90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0);
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0);
}

header .mainMenu ul li a:hover, header .mainMenu ul li a:focus {
  background-color: #f3426d;
  color: white;
}

header.fixed {
  background-color: #ffffff;
  background-color: white;
  top: 0;
}

.Mob {
  display: none;
}

.Mob .mobMenu {
  width: 40px;
  cursor: pointer;
  z-index: 997;
  position: relative;
}

.Mob .mobMenu span {
  height: 2px;
  background-color: #f3426d;
  width: 100%;
  display: block;
  margin-bottom: 8px;
  transition: all 0.3s ease-in-out;
}

.Mob .mobMenu span:last-child {
  margin-bottom: 0px;
}

.Mob .open span {
  background-color: #f3426d;
}

.Mob .open .lone {
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  -webkit-transform-origin: top right;
  -o-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}

.Mob .open .ltwo {
  opacity: 0;
}

.Mob .open .lthree {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transform-origin: top right;
  -o-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}

.Mob .menuContent {
  width: 260px;
  height: 100%;
  position: fixed;
  background-color: white;
  left: -260px;
  top: 0;
  z-index: 996;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  text-align: left;
}

.Mob .menuContent ul:first-child {
  margin-top: 70px;
}

.Mob .menuContent ul {
  text-align: left;
  margin-left: 35px;
  display: block;
  padding: 0;
  margin-top: 15px;
}

.Mob .menuContent ul li {
  display: block;
  margin-bottom: 10px;
}

.Mob .menuContent ul li ul {
  margin-left: 15px;
}

.Mob .menuContent ul li a {
  color: #f3426d;
  font-weight: 600;
}

.Mob .menuContent ul li a:hover {
  color: #cdda01;
}

.Mob .menuContent ul li.current-menu-item a {
  color: #f3426d;
}

.Mob .menuContent ul li div.sub-menu {
  position: relative;
  border-left: 1px solid #d2ccc6;
  left: 0;
  border-top: 0;
  background-color: transparent;
}

.Mob .menuContent ul li div.sub-menu .glyphicon-triangle-top {
  display: none;
}

.Mob .isopen {
  left: 0;
}

@media (max-width: 992px) {
  .Mob {
    display: block;
    float: right;
    /*right: 20px;
		top: 50%;
		margin-top: -11px;*/
  }
}

.topSection {
  height: 100vh;
  background-position: right center;
}

.topSection .col-sm-12 {
  position: inherit;
}

@media (max-width: 767px) {
  .topSection .container {
    width: 90%;
  }
}

.topSection .warp {
  width: 100%;
}

.topSection .content p {
  font-weight: 300;
  text-transform: uppercase;
  color: black;
  margin-bottom: 0;
  font-size: 3.3vw;
}

.topSection .content h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: #cdda01;
  margin: 0;
  font-size: 7vw;
}

.topSection .content h1:before {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: "\e236";
  font-size: 5.5vw;
  position: absolute;
  margin-top: 1.3vw;
  left: -7px;
}

.topSection .content .main-btn {
  background-color: white;
  color: #f3426d;
}

.topSection .content .main-btn:hover, .topSection .content .main-btn:focus {
  background-color: #f3426d;
  color: white;
}

@media (max-width: 767px) {
  .topSection .content h1 {
    font-size: 36px;
  }
  .topSection .content h1:before {
    font-size: 30px;
  }
  .topSection .content p {
    font-size: 14px;
  }
}

.topSection .goDown {
  position: absolute;
  bottom: 40px;
  width: 30px;
  height: auto;
  left: 50%;
  margin-left: -15px;
  cursor: pointer;
}

.services {
  padding: 100px 0;
  background-color: #515048;
  z-index: 2;
  position: relative;
}

.services .warp {
  width: 100%;
}

@media (max-width: 767px) {
  .services .container {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .services .v-center {
    flex-wrap: nowrap;
  }
}

.services .col-sm-6 {
  position: inherit;
}

.services .content p {
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  margin-bottom: 0;
  font-size: 2.8vw;
}

.services .content h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: #cdda01;
  margin: 0;
  font-size: 6vw;
}

.services .content h1:before {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: "\e236";
  font-size: 4.5vw;
  position: absolute;
  margin-top: 1.1vw;
  left: -7px;
}

@media (max-width: 767px) {
  .services .content h1 {
    font-size: 36px;
  }
  .services .content h1:before {
    font-size: 30px;
  }
  .services .content p {
    font-size: 14px;
  }
}

.services .content .main-btn {
  background-color: white;
  color: white;
  position: relative;
  padding: 2px;
}

.services .content .main-btn span {
  background-color: #515048;
  -webkit-clip-path: polygon(90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0);
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0);
  display: inline-block;
  padding: 5px 20px;
  transition: all 0.3s ease-in-out;
}

.services .content .main-btn span:hover, .services .content .main-btn span:focus {
  background-color: white;
  color: #515048;
}

.services .servicesList {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .services .servicesList {
    margin-top: 50px;
  }
}

.services .servicesList li {
  background-size: 50px auto;
  background-position: left top;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  padding: 15px 0 10px 70px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .services .servicesList li {
    font-size: 14px;
    padding: 20px 0 20px 70px;
    margin-bottom: 10px;
  }
}

.signup {
  padding: 70px 0;
  margin: 10px 0;
  background-color: #f3426d;
  overflow: hidden;
}

@media (max-width: 767px) {
  .signup .container {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .signup .v-center {
    flex-wrap: nowrap;
  }
}

.signup .col-sm-6 {
  position: inherit;
}

.signup .content p {
  font-weight: 400;
  color: white;
  margin-bottom: 0;
  font-size: 1.7vw;
}

.signup .content h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin: 0;
  font-size: 4vw;
}

.signup .content h1:before {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: "\e236";
  font-size: 3vw;
  position: absolute;
  margin-top: 0.9vw;
  left: -7px;
}

@media (max-width: 767px) {
  .signup .content h1 {
    font-size: 36px;
  }
  .signup .content h1:before {
    font-size: 30px;
  }
  .signup .content p {
    font-size: 14px;
  }
}

.signup form {
  color: white;
}

.signup form .input {
  padding: 10px 20px;
  background-color: #d53a60;
  border: 0;
  width: 100%;
  color: white;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}

.signup form .input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.signup form .input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.signup form .input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.signup form .left {
  padding-right: 8px;
}

.signup form .left .input {
  float: right;
  -webkit-clip-path: polygon(90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0);
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 10% 100%, 0% 50%, 10% 0);
}

.signup form .right {
  padding-left: 8px;
}

.signup form .right .input {
  -webkit-clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 0% 50%, 0 0);
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0% 50%, 0 0);
}

.signup form .all .input {
  -webkit-clip-path: polygon(calc(100% - 20px) 0, 100% 50%, calc(100% - 20px) 100%, 20px 100%, 0% 50%, 20px 0);
  clip-path: polygon(calc(100% - 20px) 0, 100% 50%, calc(100% - 20px) 100%, 20px 100%, 0% 50%, 20px 0);
}

.signup form .all textarea.input {
  -webkit-clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 20px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 20px 100%, 0% calc(100% - 20px), 0% 20px);
  clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 20px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 20px 100%, 0% calc(100% - 20px), 0% 20px);
}

.signup form .infotxt p {
  float: left;
  padding-top: 5px;
  max-width: 68%;
}

.signup form .infotxt .main-btn {
  background-color: white;
  color: white;
  position: relative;
  padding: 2px;
  float: right;
  border: 0;
  border-radius: 0;
}

.signup form .infotxt .main-btn span {
  background-color: #f3426d;
  -webkit-clip-path: polygon(90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0);
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0);
  display: inline-block;
  padding: 5px 20px;
  transition: all 0.3s ease-in-out;
}

.signup form .infotxt .main-btn:hover span, .signup form .infotxt .main-btn:focus span {
  background-color: white;
  color: #f3426d;
}

.signup form.contactForm .infotxt {
  text-align: center;
}

.signup form.contactForm .infotxt p {
  float: none;
  max-width: 100%;
}

.signup form.contactForm .infotxt .main-btn {
  float: none;
  margin-bottom: 15px;
}

#submitContactForm {
  display: none !important;
}
.wpcf7-not-valid-tip {
  color: #fff !important;
}

@media (max-width: 767px) {
  .signup form {
    margin-top: 20px;
  }
  .signup form .input {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .signup form .infotxt p {
    max-width: 52%;
  }
}

.contactus {
  padding: 100px 0;
  background-color: #2f2e29;
  overflow: hidden;
}

@media (max-width: 767px) {
  .contactus .container {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .contactus .v-center {
    flex-wrap: nowrap;
  }
}

.contactus .col-sm-4 {
  position: inherit;
}

.contactus .content p {
  font-weight: 400;
  color: white;
  margin-bottom: 0;
  font-size: 1.7vw;
}

.contactus .content h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: #f3426d;
  margin: 0;
  font-size: 2.2vw;
}

.contactus .content h1:before {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: "\e236";
  font-size: 1.8vw;
  position: absolute;
  margin-top: 0.4vw;
  left: -7px;
}

.contactus .content h2 {
  font-weight: 700;
  text-transform: uppercase;
  color: #cdda01;
  margin: 0;
  font-size: 2.2vw;
  text-align: center;
}

.contactus .content .socialicons {
  text-align: right;
}

.contactus .content .socialicons a {
  font-size: 1.5vw;
  font-weight: 700;
  color: white;
  margin-left: 25px;
}

.contactus .content .socialicons a:hover, .contactus .content .socialicons afocus {
  color: #f3426d;
}

.contactus .content .socialicons a:first-child {
  margin-left: 0;
}

@media (max-width: 767px) {
  .contactus .content h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .contactus .content h1:before {
    font-size: 24px;
  }
  .contactus .content h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .contactus .content .socialicons a {
    font-size: 20px;
  }
}

.googlemap #map_canvas {
  width: 100%;
  height: 100%;
}

.googlemap #map_wrapper {
  height: 350px;
  margin-bottom: 10px;
}

.bottomBar {
  padding: 10px 0;
  background-color: #161613;
}

.bottomBar p {
  margin-top: 10px;
  color: #515048;
  font-weight: 300;
}

.bottomBar p a {
  color: #515048;
  font-weight: 300;
}

.bottomBar p a:hover, .bottomBar p a:focus {
  color: #84837f;
}

.bottomBar .links {
  text-align: right;
}

.bottomBar .links a {
  margin-left: 15px;
}

.bottomBar .links a:first-child {
  margin-left: 0;
}

@media (max-width: 767px) {
  .bottomBar .links {
    text-align: left;
  }
}

/* Home gallery */
.homeGallery .galleryNav {
  background-color: #515048;
  padding: 25px 10%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
}

.homeGallery .galleryNav a {
  color: white;
  font-weight: 500;
  font-size: 2vw;
}

@media (max-width: 767px) {
  .homeGallery .galleryNav a {
    font-size: 10px;
  }
}

.homeGallery .gallerycontainer {
  padding: 10px 0;
}

.homeGallery .gallerycontainer .grid-item {
  width: 25%;
  float: left;
}

.homeGallery .gallerycontainer .grid-item a {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (min-width: 1300px) {
  .homeGallery .gallerycontainer .grid-item {
    width: 16.66666667%;
    float: left;
  }
}

@media (max-width: 767px) {
  .homeGallery .gallerycontainer .grid-item {
    width: 50%;
    float: left;
  }
}

.detailsPage {
  padding-bottom: 70px;
}

.detailsPage .title {
  background-color: #515048;
  padding: 25px 10%;
  margin-bottom: 70px;
}

.detailsPage .title .back-arrow {
  float: right;
  margin: 0;
  width: 100%;
  max-width: 50px;
  height: auto;
  margin-top: 5px;
}

.detailsPage .title h1 {
  color: white;
  font-weight: 700;
  margin: 0;
}

.detailsPage img {
  margin-bottom: 50px;
}

.detailsPage .introData {
  margin-bottom: 30px;
}

.detailsPage .introData p.lead {
  font-size: 18px;
  font-weight: 500;
}

.detailsPage .introData p {
  font-size: 16px;
}

@media (min-width: 768px) {
  .detailsPage .introData {
    padding-left: 15px;
  }
}

.detailsPage .content {
  font-size: 16px;
}

.detailsPage .content .box {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .detailsPage .content .col-txt-2 {
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    text-align: justify;
  }
}

#submitContactForm {
  display: none !important;
}

.wpcf7-not-valid-tip {
  color: #fff !important;
}

/* Animation */
@media (min-width: 1025px) {
  .services .servicesList li {
    white-space: nowrap;
    overflow: hidden;
  }
}
